In [1]:
import pandas as pd

In [46]:
data = pd.read_csv('ds_common_words_utf_8_for_test.csv')

In [36]:
data

            word      root
0         азбука     азбук
1       азбучный     азбуч
2      бездомный       дом
3     бездорожье     дорож
4        безухий        ух
...          ...       ...
1030    цветовод  цвет вод
1031    цветочек      цвет
1032   цветочный      цвет
1033    цветущий      цвет
1034       цветы      цвет

[1035 rows x 2 columns]

In [37]:
def check_roots(row):
    roots = row['root'].split()
    errors = []
    for r in roots:
        if r not in row['word']:
            errors.append(r)
    if not errors:
        return None
    return errors

In [47]:
data['error'] = data.apply(check_roots, axis=1)

In [48]:
data[data['error'].notnull()]

Empty DataFrame
Columns: [word, root, error]
Index: []