In [1]:
import pandas as pd
from sklearn.utils import shuffle

In [3]:
data = pd.read_csv('data/ds_common_words_utf_8_for_test.csv')

In [4]:
data

            word      root
0         азбука     азбук
1       азбучный     азбуч
2      бездомный       дом
3     бездорожье     дорож
4        безухий        ух
...          ...       ...
1030    цветовод  цвет вод
1031    цветочек      цвет
1032   цветочный      цвет
1033    цветущий      цвет
1034       цветы      цвет

[1035 rows x 2 columns]

In [37]:
def check_roots(row):
    roots = row['root'].split()
    errors = []
    for r in roots:
        if r not in row['word']:
            errors.append(r)
    if not errors:
        return None
    return errors

In [47]:
data['error'] = data.apply(check_roots, axis=1)

In [48]:
data[data['error'].notnull()]

Empty DataFrame
Columns: [word, root, error]
Index: []

In [7]:
df = shuffle(data).reset_index(drop=True)

In [8]:
df

                word        root
0           гусельки         гус
1       домовладелец    дом влад
2          лесопилка     лес пил
3     хлебозаготовка        хлеб
4        дороговизна       дорог
...              ...         ...
1030     перезвонить        звон
1031       медведица      медвед
1032    боеспособный  бо способн
1033         дворник        двор
1034       красавица        крас

[1035 rows x 2 columns]

In [10]:
df[:230].to_csv('data/test_230_words_ds_common_words_utf_8.csv', index=False)